version: "3.9" # Versione del formato docker-compose

services:
  # --- Servizio MongoDB ---
  db:
    image: mongodb/mongodb-community-server:latest # Immagine ufficiale MongoDB
    container_name: mongo_db # Nome del container
    ports:
      - "27017:27017" # Espone la porta di MongoDB sulla macchina host
    volumes:
      - mongo_data:/data/db # Volume persistente per i dati del database
    restart: unless-stopped # Riavvia automaticamente se il container si interrompe

  # --- Servizio DbGate (interfaccia web per MongoDB) ---
  admin:
    image: dbgate/dbgate:latest # Immagine ufficiale DbGate
    container_name: db_admin # Nome del container
    ports:
      - "27000:3000" # Espone la porta 3000 del container sulla 27000 dell’host
    depends_on:
      - db # Garantisce che MongoDB parta prima di DbGate
    environment:
      CONNECTIONS: |
        mongo|MongoDB|mongodb://db:27017|mydatabase # Connessione automatica al DB Mongo
    restart: unless-stopped # Riavvia automaticamente se viene interrotto

  # --- Servizio Backend ---
  backend:
    build: ./backend # Costruisce l’immagine dal Dockerfile nella cartella backend
    container_name: backend_service # Nome del container
    ports:
      - "3000:3000" # Espone la porta 3000 del container sulla 3000 dell’host
    depends_on:
      - db # Garantisce che MongoDB parta prima del backend
    environment:
      FRONTEND_APP: http://localhost:5173
      APP_HOST: 0.0.0.0
      APP_PORT: 3000
      MONGODB_URI: mongodb://db:27017/db_exgame_mouse
    restart: unless-stopped # Riavvia automaticamente se viene interrotto

  # --- Servizio Frontend ---
  frontend:
    build: ./frontend # Costruisce l’immagine dal Dockerfile nella cartella frontend
    container_name: frontend_service # Nome del container
    ports:
      - "5173:5173" # Espone la porta 5173 del container sulla 5173 dell’host
    depends_on:
      - backend # Garantisce che il backend parta prima del frontend
    restart: unless-stopped # Riavvia automaticamente se viene interrotto
    

# --- Volumi persistenti ---
volumes:
  mongo_data: # Crea un volume Docker per salvare i dati
    driver: local # Usa il driver locale (default)